<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1>Entr a garshdurn werd to git er points 'n stuff.</h1>
  <form action="/scrabblescore" method="post">
  <label for="input">Yer WERD:</label>
  <input id="input" name="input" type="text">
  <button type = "submit">I'LL TELL YER WHAT</button>
  </form>
</body>
</html>